<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="header" style="display: flex; justify-content: space-between;">
        <h1>Sasquatch Websighting</h1>
        <h2>{{session['user_name']}}</h2>
    </div>
    <div class="links" style="display: flex; justify-content: end;">
        <a href="/dashboard" style="margin-right: 10px;">Dashboard</a>
        <a href="/logout">Logout</a>
    </div>
    <div>
        <h2>{{sighting.location}} on {{sighting.date_seen}}</h2>
    </div>
    <div>
        <p>What Happened: </p>
        <p>{{sighting.what_happened}}</p>
        <p># of Sasquatches: </p>
        <p>{{sighting.num_of_sasquatches}}</p>
        <p>Reported By: </p>
        <p>{{sighting.creator.first_name}} {{sighting.creator.last_name}}</p>
    </div>
</body>
</html>